<div id="lazy_navigation" class="long-tab full-height flex">
    <a href="{%url 'chats' %}" class="lazy_tab perfect_center mt_5" id="chats">
        <i class="ion ion-ios-chatboxes"></i>
    </a>
    <a href="{%url 'profile'%}" class="lazy_tab perfect_center mt_5" id="profile">
        <i class="ion ion-ios-person"></i>
    </a>
    <a href="{%url 'globe' %}" class="lazy_tab perfect_center mt_5" id="globe">
        <i class="ion-ios-globe"></i>
    </a>
    <a href="{%url 'logout' %}" class="lazy_tab perfect_center mt_5" id="logout">
        <i class="ion ion-ios-log-out"></i>
    </a>
</div>