{%extends 'index.html'%}
{%load static%}
{%block content%}
{%include 'navigations.html'%}

<div id="lazy_profile" class=" long-tab full-height lazy_short_profile ">
    <div id="" class="profile_image_container perfect_center"
        style="background-image: url('{%static myProfile.profile_image_url %}');
        background-size: cover;width: 100%;height:300px">
    </div>
    <div class="profile_info_container perfect_center">
        <div class="more_info flex flex_col text-center">
            <span class="profile_actual_name">{{myProfile.user}}</span>
            <span class="profile_username">last login<br>{{myProfile.user.last_login}}</span>
        </div>
    </div>
</div>
{%endblock%}